@import "@/app/mixins.scss";
:root {
  --color-base: #fff;
  --color-primary: #fcf8f6;
  --color-secondary: #351b13;
  --color-tertiary: #8e6b60;
  --color-text: #4a2a20;
  --color-success: #59aa5c;
  --color-attention: #f07878;

  --w-contents: 900px;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-10: 40px;
  --space-m: 50px;
  --space-l: 80px;

  --z-index-0: -100;
  --z-index-1: 100;
  --z-index-2: 200;
  --z-index-3: 300;
  --z-index-4: 400;
  --z-index-5: 500;

  --bp: 999px;

  @media (max-width: 1000px) {
    --w-contents: 100%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

ul,
ol {
  list-style-type: none;
}

input,
select {
  -webkit-appearance: none;
  appearance: none;
}
