.footer {
  color: var(--color-base);
  background: var(--color-secondary);
  .inner {
    display: flex;
    justify-content: space-between;
    width: var(--w-contents);
    padding: var(--space-l) var(--space-10);
    margin: 0 auto;
    .text {
      margin: var(--space-10) 0 0;
    }
    .logo {
      margin: var(--space-5) 0 0;
    }
    .right_contents {
      display: flex;
      .icons {
        display: flex;
        gap: var(--space-4);
        font-size: 26px;
        margin: 0 var(--space-l) 0 0;
      }
      .links {
        display: flex;
        gap: var(--space-10);
        .link {
          line-height: 1.5;
          letter-spacing: 0.3em;
        }
      }
    }
  }
  .copy {
    text-align: center;
    padding: var(--space-2) 0;
  }
}
