.mv {
  position: relative;
  width: 100%;
  color: var(--color-base);
  text-align: center;
  background: url("/images/mv_01.jpg") no-repeat center center / cover;
  .title {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--z-index-3);
    .logo {
      margin-bottom: var(--space-8);
    }
  }
  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 4s ease-in-out;
    animation: zoomAnimation 3s;
  }

  .activeSlide {
    opacity: 1;
    z-index: var(--z-index-2);
  }

  .inactiveSlide {
    opacity: 0;
    z-index: var(--z-index-1);
  }
}

.slide-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// @keyframes zoomAnimation {
//   0% {
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(1.1);
//   }
// }
