.header {
  width: 100%;
  background: #ffffffb3;
  padding: var(--space-3) 0;
  z-index: var(--z-index-4);
  transition: transform 0.4s ease-in-out;
  &.slideDown {
    transform: translateY(0);
  }
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--w-contents);
    margin: 0 auto;
  }
}

.animation {
  position: fixed;
  top: 0;
  transform: translateY(-100%);
}

@media (max-width: 1000px) {
  .header {
    .inner {
      padding: 0 var(--space-3);
      width: 100%;
      .icon_menu {
        font-size: 28px;
        color: var(--color-secondary);
      }
    }
  }
}

.menu {
  display: flex;
  gap: var(--space-10);
  .item {
    padding: var(--space-3) var(--space-3) var(--space-4);
  }
}
