.contents {
  width: var(--w-contents);
  padding: var(--space-10) 0;
  margin: 0 auto;
  .info {
    padding: var(--space-8);
    border: 1px solid var(--color-tertiary);
    margin: var(--space-10) 0;
    .info_title {
      padding: 0 0 var(--space-8);
      border-bottom: 1px solid var(--color-tertiary);
      @media (max-width: 1000px) {
        padding: 0 0 var(--space-6);
      }
    }
    .info_data {
      display: grid;
      grid-template-columns: 180px 1fr;
      grid-row-gap: 16px;
      margin: var(--space-8) 0 0;
      dt {
        font-weight: bold;
      }
      @media (max-width: 1000px) {
        display: block;
        margin: var(--space-6) 0 0;
        dt {
          margin: 0 0 var(--space-2);
        }
        dd {
          margin: 0 0 var(--space-6);
        }
      }
    }
  }
  .back_button {
    display: flex;
    justify-content: center;
    margin: var(--space-10) 0 0;
  }
}
