.button {
  background: none;
  border: none;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.color_base {
  color: var(--color-base);
}

.color_primary {
  color: var(--color-text);
}

.bg_primary {
  background: var(--color-primary);
}

.bg_secondary {
  background: var(--color-secondary);
}

.size_m {
  padding: var(--space-3) var(--space-10);
}

.rounded {
  border-radius: 1000px;
}

.disable {
  opacity: 0.4;
  &:hover {
    cursor: not-allowed;
  }
}
