.contents {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  padding: var(--space-10) 0 0;
  .more_show_item {
    > ul {
      margin: var(--space-3) 0;
    }
  }
  .button {
    text-align: center;
  }
  @media (max-width: 1000px) {
    text-align: center;
    padding: var(--space-10) var(--space-5);
    .more_show_item {
      text-align: left;
    }
  }
}
